@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --roboto: "Roboto", sans-serif;

  --primary: #E10000;
  --primary-100: #FFDDDD;
  --primary-200: #FFC1C1;
  --primary-300: #FF9595;
  --primary-400: #FF5959;
  --primary-500: #FF2626;
  --primary-600: #FC0606;
  --primary-800: #AF0505;
  --primary-900: #E7000B;
  --primary-950: #500000;

  --light-gray: #FFF0F0;
  --light-gray-50: #D7D7D7;
  --light-gray-100: #EAEBEC;
  --light-gray-150: #F3F4F6;
  --light-gray-200: #BABABA;
  --light-gray-250: #E6E6E6;
  --light-gray-300: #F2F2F2;
  --light-gray-400: #E5E7EB;
  --light-gray-500: #F9FAFB;
  --light-gray-600: #EDEEF0;
  --light-gray-700: #F4F4F4;
  --light-gray-800: #F6F7F8;
  --light-gray-900: #99A1AF;

  --dark-gray: #222222;
  --dark-gray-50: #2B2C2D;
  --dark-gray-100: #48494A;
  --dark-gray-200: #A5A6A7;
  --dark-gray-300: #343330;
  --dark-gray-400: #C2C2C2;
  --dark-gray-500: #666666;
  --dark-gray-600: #0F0F0F;
  --dark-gray-700: #6C6D6F;
  --dark-gray-800: #3F4041;
  --dark-gray-900: #6A7282;

  --black-100: #101828;
  --black-200: #364153;
  --black-300: #4A5565;
  --black-400: #0A0A0A;

  --success: #4DB648;
  --success-100: #00A63E;
  --success-200: #016630;
  --success-300: #F0FDF4;
  --success-400: #DCFCE7;
  --success-500: #B9F8CF;

  --danger: #9F0712;
  --danger-50: #FFE2E2;
  --danger-100: #290000;

  --purple: #6E11B0;
  --purple-50: #F3E8FF;

  --warning: #894B00;
  --warning-50: #FEF9C2;
  --warning-100: #FFDF20;
  --warning-200: #FFD6A7;
  --warning-300: #FFF7ED;
  --warning-400: #FFEDD4;

  --orange: #FF4F2F;

  --info: #1866DB;
  --info-50: #03A9F4;
  --info-100: #193CB8;
  --info-200: #DBEAFE;
  --info-300: #8EC5FF;

  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-light-gray: var(--light-gray);
  --color-light-gray-50: var(--light-gray-50);
  --color-light-gray-100: var(--light-gray-100);
  --color-light-gray-150: var(--light-gray-150);
  --color-light-gray-200: var(--light-gray-200);
  --color-light-gray-250: var(--light-gray-250);
  --color-light-gray-300: var(--light-gray-300);
  --color-light-gray-400: var(--light-gray-400);
  --color-light-gray-500: var(--light-gray-500);
  --color-light-gray-600: var(--light-gray-600);
  --color-light-gray-700: var(--light-gray-700);
  --color-light-gray-800: var(--light-gray-800);
  --color-light-gray-900: var(--light-gray-900);

  --color-dark-gray: var(--dark-gray);
  --color-dark-gray-50: var(--dark-gray-50);
  --color-dark-gray-100: var(--dark-gray-100);
  --color-dark-gray-200: var(--dark-gray-200);
  --color-dark-gray-300: var(--dark-gray-300);
  --color-dark-gray-400: var(--dark-gray-400);
  --color-dark-gray-500: var(--dark-gray-500);
  --color-dark-gray-600: var(--dark-gray-600);
  --color-dark-gray-700: var(--dark-gray-700);
  --color-dark-gray-800: var(--dark-gray-800);
  --color-dark-gray-900: var(--dark-gray-900);

  --color-black-100: var(--black-100);
  --color-black-200: var(--black-200);
  --color-black-300: var(--black-300);
  --color-black-400: var(--black-400);

  --color-success: var(--success);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);

  --color-danger: var(--danger);
  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);

  --color-purple: var(--purple);
  --color-purple-50: var(--purple-50);

  --color-warning: var(--warning);
  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);

  --color-orange: var(--orange);

  --color-info: var(--info);
  --color-info-50: var(--info-50);
  --color-info-100: var(--info-100);
  --color-info-200: var(--info-200);
  --color-info-300: var(--info-300);

  --shadow-sm: 0px 0px 16px 0px #00000014;
  --shadow-lg: 0px 1px 2px -1px #0000001A, 0px 1px 3px 0px #0000001A;


  --breakpoint-xxs: 425px;



  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

body {
  font-family: var(--roboto);
}

html body[data-scroll-locked] {
  overflow-y: scroll !important;
  margin-right: 0 !important;
}

.live {
  @apply relative text-primary pl-1 text-base font-medium
}

.bowlerPerformanceChart g.apexcharts-yaxis {
  transform: rotate(90deg) !important;
  writing-mode: sideways-lr;
  transform-origin: -4px 10px;
}

.line {
  float: left;
  width: 200%;
  -webkit-transform-origin: left;
  animation: line 4s 1s infinite alternate cubic-bezier(.87, .01, .87, .5);
  height: 2px;
  background-color: var(--primary);
  margin-top: -3px;
}

@keyframes line {
  0% {
    -webkit-transform: scaleX(0) translateX(0%);
  }

  60% {
    -webkit-transform: scaleX(0) translateX(0%);
  }

  80% {
    -webkit-transform: scaleX(1) translateX(0%);
  }

  100% {
    -webkit-transform: scaleX(1.5) translateX(calc(40% - 2px));
  }
}
